.wrapper {
  display: flex;
  align-items: center;
  padding: 10px 20px 10px;
  justify-content: space-between;
  border-radius: 10px;
  background: black;
}

.logo {
  display: inline-block;
}
.logo a {
  display: block;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  gap: 30px;
}

.header li {
  display: none;
  margin: 0;
  
  /* background-image: linear-gradient(45deg, red, blue); */
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
}

.header li a {
  color: rgb(137, 137, 137);
  display: inline-block;
  padding: 0;
  transition: 0.5s;
  text-decoration: none;
  text-transform: uppercase;
  
}

.header li a:hover {
  color: rgb(255, 255, 255);
  padding: 0px 10px;
  scale: 1.2;
}

@media (min-width: 450px) {
  .header li {
    display: inline-block;
  }
}
